@charset "UTF-8";
/* CSS Document */

body{
	font-family: Arial, Helvetica, sans-serif;
	background-color:#9ED6FF;
}

#container{
	width: 90%;
	margin: 0 auto;
	height: 600px;
}

.left {
	width: 35%;
	padding: 5%;
	float: left;
}

.right {
	width: 45%;
	padding: 2%;
	float: right;
}

h1 {
	text-align: center;
	padding: 2%;
}
