body {
    background-image: url('https://secure.static.tumblr.com/9b81275ac6bdba39222f59560f2285ee/hsla4v6/2yinaxrjz/tumblr_static_chicago-night-lights.jpg');
    background-size: cover;
    background-position: top;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 20px;
}

.wrapper {
    margin: auto;
    margin-top: 30px;
    width: 900px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
}

#map {
    margin: auto;
    width: 800px;
    height: 375px;
}
